.grid-wrapper {
  position: relative;
}
//custom css
.form-control.form-control-solid{
  background: white !important
}
.col-form-label{
  font-weight: bold;
}
.bnt-s{
  background-color: #419197;color: #ffffff; margin-top: 37px;
}
.bnt-res{
  background-color: #333;color: #ffffff; margin-top: 37px; margin-left: 10px;
}

.card-header.bg-dark-o-20.d-flex.justify-content-between{
  height: 50px;
}

.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #419197;
}

@media(max-width: 1290px){
  .bnt-res{
    margin-left: 4px;
  }
}
@media(max-width: 767px){
  .bnt-s, .bnt-res{
    margin-top: 15px;
  }
  .custom-mt-15{
    margin-top: 15px;
  }
}


.card-body{
  padding: 10px 0 !important;
}
.bgr-custom{
  background: rgba(24, 28, 50, 0.08) !important;
}
