<div class="modal-header">
  <h4 class="modal-title">
    {{title}}
  </h4>
  <button class="btn-close-h" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="action-container">
    <form [formGroup]="form">
      <!--khen thưởng-->
      <div>
        <div class="form-group">
          <label class="col-form-label">Tổ bộ môn <span class="red">*</span></label>
          <div class="">
            <kendo-dropdownlist #schoolFaculty class="kendo-dropdown" formControlName="facultyId"
                                [valuePrimitive]="true"
                                [data]="schoolFaculty$ | async" [textField]="'facultyName'" [valueField]="'id'"
                                [defaultItem]="defaultItemSchoolFaculty" (selectionChange)="changeSchoolFaculty($event)"
                                [loading]="!(schoolFacultyLoaded$ | async)">
            </kendo-dropdownlist>
            <div class="col-sm-2"></div>
            <div class="col-sm-10"
                 *ngIf="submitted &&  f.facultyId.errors || f.facultyId.errors && (f.facultyId.dirty || f.facultyId.touched)">
              <div class="text-error">
                <div *ngIf="f.facultyId.errors.required">
                  {{VI_LANG.FIELD.SCHOOL_FACULTY_NAME}} {{VI_LANG.COMMON_ERROR.REQUIRED}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Cán bộ <span class="red">*</span></label>
          <div class="">
            <kendo-dropdownlist #employeeName class="kendo-dropdown" formControlName="employeeId"
                                [valuePrimitive]="true"
                                [data]="listEmployee" [textField]="'fullName'" [valueField]="'id'"
                                [defaultItem]="defaultItemEmployee"
                                [loading]="loadEmployee" (selectionChange)="getEmployeeName($event)">
            </kendo-dropdownlist>
            <div class="col-sm-2"></div>
            <div class="col-sm-10"
                 *ngIf="submitted && f.employeeId.errors || (f.employeeId.dirty || f.employeeId.touched) &&f.employeeId.errors ">
              <div class="text-error">
                <div *ngIf="f.employeeId.errors.required">
                  {{VI_LANG.FIELD.EMPLOYEE}} {{VI_LANG.COMMON_ERROR.REQUIRED}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Thành tích <span class="red">*</span></label>
          <div class="">
            <input #praiseDetailContent (focusout)="trimSpace('praiseDetailContent')" type="text" class="form-control"
                   formControlName="praiseDetailContent" name="praiseDetailContent"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.praiseDetailContent.errors || f.praiseDetailContent.errors && (f.praiseDetailContent.dirty || f.praiseDetailContent.touched)">
            <div class="text-error">
              <div *ngIf="f.praiseDetailContent.errors.required">
                {{VI_LANG.FIELD.PRAISE_DETAIL_CONTENT}} {{VI_LANG.COMMON_ERROR.REQUIRED}}
              </div>
              <div *ngIf="f.praiseDetailContent.errors.maxlength">
                {{VI_LANG.FIELD.PRAISE_DETAIL_CONTENT}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_250}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Cấp khen thưởng</label>
          <div class="">
            <input (focusout)="trimSpace('praiseLevelName')" type="text" class="form-control"
                   formControlName="praiseLevelName" name="praiseLevelName"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.praiseLevelName.errors || f.praiseLevelName.errors && (f.praiseLevelName.dirty || f.praiseLevelName.touched)">
            <div class="text-error">
              <div *ngIf="f.praiseLevelName.errors.maxlength">
                {{VI_LANG.FIELD.PRAISE_LEVEL_NAME}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_250}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Hình thức khen thưởng</label>
          <div class="">
            <kendo-dropdownlist class="kendo-dropdown" formControlName="praiseFormCode" [valuePrimitive]="true"
                                [data]="listDanhMucKTGV$ | async" [textField]="'cateName'" [valueField]="'id'"
                                (selectionChange)="getTenHinhThuc($event)" [loading]="!(loadingKhenThuong$ | async)"
                                [defaultItem]="defaultItemDMKTGV">
            </kendo-dropdownlist>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Quyết định khen thưởng</label>
          <div class="">
            <input (focusout)="trimSpace('decisionNumber')" type="text" class="form-control"
                   formControlName="decisionNumber"
                   name="decisionNumber"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.decisionNumber.errors || f.decisionNumber.errors && (f.decisionNumber.dirty || f.decisionNumber.touched)">
            <div class="text-error">
              <div *ngIf="f.decisionNumber.errors.maxlength">
                {{VI_LANG.FIELD.DECISION_NUMBER_PRAISE}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_250}}
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Ngày QĐ khen thưởng</label>
          <div class="">
            <kendo-datepicker class="kendo-date"
                              [formatPlaceholder]="{year: 'yyyy', month: 'mm', day: 'dd'}"
                              [format]="'dd/MM/yyyy'"
                              aria-label="Ngày quyết định"
                              formControlName="decisionDate"
                              [incompleteDateValidation]="true">
            </kendo-datepicker>
            <div class="col-sm-10"
                 *ngIf="submitted && f.decisionDate.errors || f.decisionDate.errors && (f.decisionDate.dirty || f.decisionDate.touched)">
              <div class="text-error">
                <div *ngIf="f.decisionDate.errors">
                  {{VI_LANG.FIELD.DECISION_DATE_PRAISE}} {{VI_LANG.COMMON_ERROR.PATTERN_DATE}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Ghi chú</label>
          <div class="">
            <input (focusout)="trimSpace('description')" type="text" class="form-control" formControlName="description"
                   name="description"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.description.errors || f.description.errors && (f.description.dirty || f.description.touched)">
            <div class="text-error">
              <div *ngIf="f.description.errors.maxlength">
                {{VI_LANG.FIELD.NOTE}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_500}}
              </div>
            </div>
          </div>
        </div>
        <div class="custom-loading-h">
          <div *ngIf="loading | async" class="k-i-loading"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="cancel()">Đóng</button>
    <button type="submit" class="btn  btn-primary" (click)="onSubmit()">Lưu</button>
  </div>
</div>
