.btn-delete-l{
  background: red;
  color: white;
  font-size: medium;
  margin-right: 25px
}
.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #419197;
  z-index: 9999;
}
button i {
  padding: 0;
}
.errro {
color: red;
}

//#testsssss .k-grid-header {
//  padding-left: 0 !important;
//}
//#testsssss .k-grid-content{
//  overflow-x: scroll;
//  overflow-y: hidden;
//}
