.mb-mt-20{
    margin-top: 25px;
}
.btn-custom-drop-h{
    border: 1px solid #ddd;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}
.rounded-border-secondary{
    border: 1px solid #7e8299;
    border-radius: 5px;
}

@media(max-width: 767px){
    .mb-mt-20{
        margin-top: 0px;
    }
}