.modal{
  width: 700px;
}
//.form-input{
//  .title{
//
//  }
//}
.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #419197;
}
.text-error{
  font-size: 12px;
  color: red;
  margin-top: 4px;

}

.class-room-h-title{
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 40px;

  label{
    color: #4eaeb5;
    font-size: 14px;
    width: 15%;
  }
  .class-room-h-title-line{
    width: 85%;
    position: relative;
  }
  .class-room-h-title-line::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 0px;
    background: #656565;
    height: 1px;
    z-index: 1;
    width: 100%;
  }
}

//.padding{
//  padding: 0;
//  label{
//    margin-left: 30px;
//  }
//}

.formError{
  position: absolute;
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

