.k-dropdown, .k-dropdowntree {
  width: 90% !important;
}

span {
  color: red;
  margin-left: 3px;
}

.k-combobox {
  width: 90% !important;
}

.btn-header i {
  cursor: pointer;
}

.button {
  background: #087D8C;
  color: white;
  border-radius: 5px;
  width: 140px;
}

.dropdownSearch {
  margin-top: 20px;
}
