<div class="card">
  <div class="card-header d-flex justify-content-between">
    <div class="text-header">
      <label><i class="flaticon-search text-dark icon-header"></i> Thông tin tìm kiếm</label>
    </div>
    <div class="btn-header">
      <i class="fas fa-angle-double-down text-dark mt-2" *ngIf="openModalSearchBody" (click)="openModalSearchBody = !openModalSearchBody"></i>
      <i class="fas fa-angle-double-up text-dark mt-2" *ngIf="!openModalSearchBody" (click)="openModalSearchBody = !openModalSearchBody"></i>
    </div>
  </div>

  <!-- Start Modal Search -->
  <div class="row" *ngIf="openModalSearchBody">
    <div class="col-sm-12 pb-3 dropdownSearch">
      <div class="row">
        <div class="col-sm-1">
          <label class="label-custom">Tuần</label>
        </div>
        <div class="col-sm-3 kendo-form">
          <kendo-dropdownlist
            [textField]="'tenDanhMuc'"
            [valueField]="'id'">
          </kendo-dropdownlist>
        </div>
<!--        -->
        <div class="col-sm-1">
          <label class="label-custom">Buổi</label>
        </div>
        <div class="col-sm-3 kendo-form">
          <kendo-dropdownlist
            [data]="defaultSession"
            [textField]="'nameSession'"
            [valueField]="'id'" [defaultItem]="defaultSession[0]">
          </kendo-dropdownlist>
        </div>
<!--        -->
        <div class="col-sm-1">
          <label class="label-custom">Giáo viên</label>
        </div>
        <div class="col-sm-3 kendo-form">
          <kendo-combobox
            [data]="defaultSession"
            [textField]="'nameSession'"
            [valueField]="'id'">
          </kendo-combobox>
          <p>(Nhập họ tên hoặc Mã GV để tìm kiếm)</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 pb-3 buttonSearch">
      <div class="col-sm-12 text-center">
        <button class="btn button"><i class="flaticon-search"></i>Tìm kiếm</button>
      </div>
    </div>
  </div>
  <!--End Modal Search-->
</div>
