// input {
//     text-align: center;
//     border: none;
//     background: none;
//     max-width: 100%;
// }

// input:focus {
//     outline: none;
//     border-color: #9ecaed;
//     box-shadow: 0 0 10px #9ecaed;
// }

// .addBtn {
//     background: none;
//     border: none;
//     max-width: 100%;
// }

// .addBtn i {
//     color: #169bd5;
// }

.k-i-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 64px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #419197;
  }

  button i {
    padding: 0;
}

textarea {
  width: 100%;
}
  