<kt-portlet>
  <kt-portlet-header [icon]="'fa fa-list'" [title]="'Danh sách phân công'" [class]="'card-head-lg bgr-custom'">
    <ng-container ktPortletTools>
      <button placement="bottom" ngbTooltip="Thêm mới" type="button" class="btn btn-primary btn-sm mr-2"
              *ktPermission="roleCreate" (click)="openDialog()">
        <i class="fas fa-plus"></i>
      </button>
      <button placement="bottom" ngbTooltip="Xóa" type="button" class="btn btn-danger btn-sm" [disabled]="mySelection.length === 0"
              *ktPermission="roleDelete" (click)="openDelete(modelDelete)">
        <i class="far fa-trash-alt"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <kendo-grid
      *ngIf="loadingPage|async"
      [data]="gridView"
      kendoGridSelectBy="id"
      [selectable]="{checkboxOnly : true}"
      [selectedKeys]="mySelection"
      [pageSize]="_pageSize"
      [pageable]="true"
      [skip]="skip"
      (pageChange)="pageChange($event)"
      (selectedKeysChange)="onChange($event)"
      [style]="{'border-radius': '25px'}"
    >
      <kendo-grid-checkbox-column
        class="text-center"
        [width]="45"
        [resizable]="false"
        [columnMenu]="false"
        showSelectAll="true"
        headerClass="text-center font-weight-bold"
      >
      </kendo-grid-checkbox-column>
      <kendo-grid-column field="id" title="TT" [width]="45" class="text-center" headerClass="text-center font-weight-bold"
                         editable="false"
      >
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="200" field="workName" editor="text" title="Công việc kiêm nhiệm" headerClass="text-center font-weight-bold"></kendo-grid-column>
      <kendo-grid-column [width]="200" field="employeeReplaceName" editor="text" title="Cán bộ làm thay" headerClass="text-center font-weight-bold"></kendo-grid-column>
      <kendo-grid-column [width]="200" field="employeeConcurrentName" editor="text" title="Cán bộ kiêm nhiệm" headerClass="text-center font-weight-bold"></kendo-grid-column>
      <kendo-grid-column [width]="200" editor="date" field="dateFrom" title="Thời gian bắt đầu" headerClass="text-center font-weight-bold">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>
            {{dataItem.dateFrom | date: 'dd/MM/yyyy'}}
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="200" editor="date" field="dateTo" title="Thời gian kết thúc" headerClass="text-center font-weight-bold">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>
            {{dataItem.dateTo | date: 'dd/MM/yyyy'}}
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="200" editor="date" field="sectionPerWeek" title="Số tiết kiêm nhiệm" headerClass="text-center font-weight-bold">
      </kendo-grid-column>
      <kendo-grid-column [width]="200" editor="date" field="note" title="Ghi chú" headerClass="text-center font-weight-bold">
      </kendo-grid-column>
      <kendo-grid-column editor="text" title="Thao tác" width="100" headerClass="text-center font-weight-bold">
        <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
          <div class="d-flex">
            <button *ktPermission="roleEdit" ngbTooltip="Sửa" placement="left"
                    class="btn btn-primary btn-sm h-30px m-auto pt-2px"
                    (click)="openEditDialog(dataItem)"
                    kendoButton [iconClass]="'fas fa-pencil-alt'"
            ></button>
          </div>
        </ng-template>
      </kendo-grid-column>
      <ng-template kendoPagerTemplate
                   let-currentPage="currentPage"
                   let-total="total"
                   let-skip="skip"
                   let-pageSize="pageSize">
        <div class="d-lg-flex d-md-block justify-content-between w-100">
          <div class="p-1 d-flex d-sm-flex justify-content-between">
            <kendo-dropdownlist style="width: 60px;" [data]="pageSizes"
                                [(ngModel)]="_pageSize" (ngModelChange)="pageSizeChange()">
            </kendo-dropdownlist>
            <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{total === 0 ? 0 : skip + 1}}
              - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>
          </div>
          <div class="d-flex justify-content-center custom-mt-15">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
          </div>
        </div>
      </ng-template>
      <ng-template kendoGridNoRecordsTemplate>
        {{VI_LANG.NOTIFICATION.NO_DATA}}
      </ng-template>
    </kendo-grid>
    <div *ngIf="boolPage" class="k-i-loading"></div>
  </kt-portlet-body>
</kt-portlet>
<ng-template #modelDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-delete">Xóa phân công kiêm nhiệm</h4>
    <button kendoButton type="button" (click)="d('Save click')" [iconClass]="'fas fa-times'">
    </button>
  </div>
  <div class="modal-body">
    <div class="form-delete-h">
      <img class="d-block m-auto" src="/assets/media/bg/normal_u546.svg">
      <p class="text-center mt-5">{{VI_LANG.NOTIFICATION.CONFIRM_DELETE}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary mr-2" (click)="d('Save click')">{{VI_LANG.BUTTON.CANCEL}}
    </button>
    <input type="submit" class="btn btn-primary" [disabled]="okLoadingDelete | async"
           (click)="deleteWorkReplacement()" tabindex="0" id="deleteReplace" value="{{VI_LANG.BUTTON.OK}}" #deleteOk/>
    <div *ngIf="boolDelete" class="k-i-loading"></div>
  </div>
</ng-template>
