.question {
  display: flex;
}

.close-header {
  font-size: large;
  cursor: pointer;
}

.button{
  background: #087D8C;
  color: white;
  border-radius: 5px;
  width: 140px;
}

.question i {
  font-size: 80px;
  color: red;
}

.question p{
  margin: auto;
}
