.labell{
  text-align: end;
  vertical-align: middle;
  padding-right: 0px !important;
}
.input1{
  width: 100%;
  height: 100%;
  border: solid 1px #9090b9;
  outline: 0;
}
.card-body{
  line-height: 2.5;
  //padding-bottom: 10px !important;
}
.Button{
  text-align: center;
  padding-bottom: 15px;
}
