.inputWithIcon input[type="text"] {
  padding-right: 40px;
}
.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 0 8px;
  color: #aaa;
  transition: 0.3s;
}

.form-control{
  height: calc(1.5em + 1.3rem + 2px);
  padding: 0.65rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3F4254;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #E4E6EF;
  border-radius: 0.42rem;
  box-shadow: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #419197;
}
