.f-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  .col-form-label{
    width: 15%;
  }
  .dropdown-css{
    width: 65%;
    height: 35px;
    border-radius: 3px;
    margin: auto !important;
  }
  .kendo-form{
    width: 80%;
  }
  input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #eee;
    padding: 0 10px;
  }
}

.grade {

  justify-content: left;
  appearance: none;

  background-position:
    calc(100% - 0.7rem) 1rem,
    calc(100% - 0.4rem) 1rem;
  background-size:
    0.3rem 0.3rem,
    0.3rem 0.3rem;
  padding-right: 1.25rem;
}
kendo-treeview {
  width: 198px;
}
kendo-buttongroup{
  height: 38.5px;
  margin-left: 20px;
  button{
    width: 150px;

  }
}
