.header-table-custom{
  background: #51aab2;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 10px 2px;
  border: 0;
  vertical-align: middle;
  font-size: 12px;
}
.bgr-custom{
  background: rgba(24, 28, 50, 0.08) !important;
}

