<kt-search [component]="'concurrent-work-type'" (submitSearch)="search($event)"></kt-search>
<!--<div *ngIf="actionDialog !== ''">-->
<!--  <kt-action-concurrent-work-type [action]="actionDialog" [data]="data" (close)="setAction('')" (conPut)="putData($event)"></kt-action-concurrent-work-type>-->
<!--</div>-->
<kt-portlet>
  <kt-portlet-header [icon]="'fa fa-list'" [title]="'Danh sách công việc kiêm nhiệm'"
    [class]="'card-head-lg bgr-custom'">
    <ng-container ktPortletTools>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="card-body" style="padding: 0;">

      <kendo-grid *ngIf="isLoading | async" [data]="gridView" [selectedKeys]="mySelection" kendoGridSelectBy="id"
        [pageSize]="_pageSize" [pageable]="true" [skip]="skip" scrollable="scrollable" [sortable]="false"
        [reorderable]="false" [resizable]="false" [height]="600" (selectedKeysChange)="onChange($event)"
        (pageChange)="pageChange($event)" [selectable]="selectTableSetting" [style]="{'border-radius': '25px'}"
        [style.maxHeight.px]="600">

        <kendo-grid-checkbox-column [width]="45" [resizable]="false" [columnMenu]="false" showSelectAll="true"
          class="text-center" headerClass="text-center"></kendo-grid-checkbox-column>

        <kendo-grid-column field="id" title="TT" [width]="70" [resizable]="false" [columnMenu]="false" editable="false"
          class="text-center" headerClass="text-center font-weight-bold">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="name" headerClass="text-center font-weight-bold" title="Tên công việc kiêm nhiệm"
          [width]="300">
        </kendo-grid-column>

        <kendo-grid-column field="sectionPerWeek" title="Số tiết/tuần" class="text-center" headerClass="text-center font-weight-bold"
          [width]="150"></kendo-grid-column>

        <kendo-grid-column field="description" headerClass="text-center font-weight-bold" [width]="240" title="Mô tả"></kendo-grid-column>
        <kendo-grid-command-column title="Thao tác" [width]="80" [resizable]="false" sortable="false" [columnMenu]="false"
          class="text-center" headerClass="text-center font-weight-bold">

          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <!--          <div class="btn btn-warning" (click)="editAction(dataItem)">Edit</div>-->
            <button (click)="editAction(mymodal, dataItem, 'edit')" kendoButton style="color: #67A7AC;"
              [iconClass]="'fas fa-pencil-alt'" ngbTooltip="Chỉnh sửa" placement="left" *ktPermission="roleEdit">
            </button>
          </ng-template>
        </kendo-grid-command-column>
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage" let-total="total"
          let-skip="skip" let-pageSize="pageSize">
          <div class="d-flex justify-content-between w-100">
            <div class="p-1 d-flex">
              <kendo-dropdownlist class="w-60px" [data]="pageSizes" [defaultItem]="5" [(ngModel)]="_pageSize"
                (ngModelChange)="pageSizeChange()">
              </kendo-dropdownlist>
              <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{total === 0 ? 0 : skip + 1}}
                - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>
            </div>
            <div class="d-flex">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons [buttonCount]="buttonCount">
              </kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
          </div>
        </ng-template>
        <ng-template kendoGridNoRecordsTemplate>
          Không có dữ liệu
        </ng-template>
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage" let-total="total"
          let-skip="skip" let-pageSize="pageSize">
          <div class="d-flex justify-content-between w-100">
            <div class="p-1 d-flex">
              <kendo-dropdownlist class="w-60px" [data]="pageSizes" [defaultItem]="5" [(ngModel)]="_pageSize"
                (ngModelChange)="pageSizeChange()">
              </kendo-dropdownlist>
              <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{total === 0 ? 0 : skip + 1}}
                - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>
            </div>
            <div class="d-flex">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons [buttonCount]="buttonCount">
              </kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
          </div>
        </ng-template>
        <ng-template kendoGridNoRecordsTemplate>
          Không có dữ liệu
        </ng-template>
      </kendo-grid>
      <div class="custom-loading-h">
        <div *ngIf="boolPage" class="k-i-loading"></div>
        <div *ngIf="boolEdit" class="k-i-loading"></div>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>

<ng-template #mymodal let-modal class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-header">
    <h4 class="modal-title">{{textWork}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <i class="fas fa-times" style="font-size: large"></i>
    </button>
  </div>
  <kt-action-concurrent-work-type [action]="actionDialog" [data]="data" (close)="setAction('')"
    (conPut)="putData($event)"></kt-action-concurrent-work-type>
  <div class="modal-footer">
    <button class="btn btn-secondary mr-3" (click)="modal.close('Close click')">{{VI_LANG.BUTTON.CLOSE}}</button>
    <button class="btn btn-primary" id="editAction" (click)="actionWork()">{{VI_LANG.BUTTON.SAVE}}
    </button>
  </div>
  <div class="custom-loading-h">
    <div *ngIf="okLoading | async" class="k-i-loading"></div>
  </div>
</ng-template>
