
<div class="modal-body">
  <form [formGroup]="form">
    <!--    <div style="height:270px; overflow:auto; padding:1.143em; margin:-1.143em;">-->

    <div class="pt-5 row">
      <div class="col-sm-4">
        <label for="content8">{{VI_LANG.FIELD.CONTENT}}<span style="color: red">*</span></label>
      </div>
      <div class="col-sm-8">
        <kendo-formfield>
          <input type="text" id="content8" class="form-control" placeholder="Nhập nội dung"
                 [formControlName]="'content'" #noiDung
                 (change)="actionPR()"
                 smasTrim>
          <kendo-formhint>{{VI_LANG.FIELD.CONTENT}} {{VI_LANG.COMMON_ERROR.REQUIRED}}</kendo-formhint>
          <kendo-formerror *ngIf="form.controls.content.errors?.required">
            {{VI_LANG.FIELD.CONTENT}} {{VI_LANG.COMMON_ERROR.REQUIRED}}
          </kendo-formerror>
          <kendo-formerror>
            <div *ngIf="form.controls.content.errors?.maxlength">
              {{VI_LANG.FIELD.CONTENT}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_250}}
            </div>
          </kendo-formerror>
        </kendo-formfield>
      </div>
    </div>


    <div class="pt-5 row">
      <div class="col-sm-4">

      </div>
      <div class="col-sm-8">
        <input type="checkbox" id="conduct8" class="p-2 border bd-radius-5"
               placeholder="Điểm cộng hạnh kiểm" [formControlName]="'duocCongDiemHanhKiem'"
               (click)="check()" (change)="actionPR()">
        <label for="conduct8" class="pl-10">{{VI_LANG.FIELD.COMMUNITY_SCORE}}</label>
      </div>
    </div>

    <div class="pt-5 row">
      <div class="col-sm-4">
        <label for="positive8">{{VI_LANG.FIELD.PLUS_MARK}}</label>
      </div>
      <div class="col-sm-8">
        <kendo-formfield style="margin-top: 0; padding: 0; width: 100%">
          <input type="number" id="positive8" class="form-control"
                 placeholder=" Nhập điểm cộng" #congHanhKiem
                 [formControlName]="'plusMarkConduct'" (change)="actionPR()">
          <kendo-formhint>{{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.REQUIRED}}</kendo-formhint>
          <kendo-formerror *ngIf="form.controls.plusMarkConduct.errors?.required">
            {{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.REQUIRED}}
          </kendo-formerror>
          <kendo-formerror>
            <div *ngIf="form.controls.plusMarkConduct.hasError('pattern')">
              {{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_DOT_1}}
            </div>
          </kendo-formerror>
          <kendo-formerror>
            <div *ngIf="form.controls.plusMarkConduct.errors?.max">
              {{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_4}}
            </div>
          </kendo-formerror>
        </kendo-formfield>
      </div>
    </div>


    <div class="pt-5 row" style="cursor: pointer">
      <div class="col-sm-4"></div>
      <div class="col-sm-8">
        <input type="checkbox" id="conduct9" class="p-2 border bd-radius-5"
               placeholder="Điểm cộng tốt nghiệp"
               [formControlName]="'duocCongDiemTotNghiep'"
               (click)="check2()" (change)="actionPR()">
        <label for="conduct9" class="pl-10">{{VI_LANG.FIELD.GRADUATION_SCORE}}</label>
      </div>
    </div>

    <div class="pt-5 row" style="cursor: pointer">
      <div class="col-sm-4">
        <label for="positive9">{{VI_LANG.FIELD.PLUS_MARK}}</label>
      </div>
      <div class="col-sm-8">
        <kendo-formfield style="margin-top: 0; padding: 0; width: 100%">
          <input type="number" id="positive9" class="form-control" #diemCong
                 placeholder="Nhập điểm cộng" [disabled]="model2.duocCongDiemTotNghiep === false"
                 [formControlName]="'plusMarkGraduation'" (change)="actionPR()">
          <kendo-formhint> {{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.REQUIRED}}</kendo-formhint>
          <kendo-formerror *ngIf="form.controls.plusMarkGraduation.errors?.required">
            {{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.REQUIRED}}
          </kendo-formerror>
          <kendo-formerror>
            <div *ngIf="form.controls.plusMarkGraduation.hasError('pattern')">
              {{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_DOT_1}}
            </div>
          </kendo-formerror>
          <kendo-formerror>
            <div *ngIf="form.controls.plusMarkGraduation.errors?.max">
              {{VI_LANG.FIELD.PLUS_MARK}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_4}}
            </div>
          </kendo-formerror>
        </kendo-formfield>
      </div>
    </div>
    <!--    </div>-->
  </form>
</div>
