<div class="all-tab-custom-h">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink class="text-uppercase nav-tab-custom " >Tiếp nhận học sinh đàu cấp</a>
      <ng-template ngbNavContent>
        <kt-reception></kt-reception>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink class="text-uppercase nav-tab-custom">Phân lớp học sinh đầu cấp</a>
      <ng-template ngbNavContent>
        <kt-classification></kt-classification>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

