<kt-search-box-management-teaching-schedule></kt-search-box-management-teaching-schedule>

<div class="">
  <!--  Start Button Add  -->
  <div class="buttonAdd">
    <button kendoButton>Xuất Excel</button>
    <button kendoButton>Phê duyệt</button>
    <button kendoButton>Hủy phê duyệt</button>
  </div>
  <!--  End Button Add  -->
  <!--  Start Kendo Grid  -->
  <div class="table">
    <kendo-grid [pageSize]="" [pageable]="true" [selectedKeys]="" kendoGridSelectBy="id" [skip]="" [kendoGridBinding]=""
      [data]="" [sortable]="false" [reorderable]="false" [resizable]="false" [height]="500">
      <kendo-grid-column title="STT" [headerClass]="{'header-table-custom': true}" [width]="50" [resizable]="false">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="180" editor="text" title="Tuần"></kendo-grid-column>
      <kendo-grid-column [width]="150" editor="text" title="Giáo viên"></kendo-grid-column>
      <kendo-grid-column [width]="80" editor="text" title="Số tiết đã lên lịch"></kendo-grid-column>
      <kendo-grid-column [width]="80" editor="text" title="Trạng thái"></kendo-grid-column>
      <kendo-grid-column [width]="80" editor="text" title="Chi tiết"></kendo-grid-column>
      <kendo-grid-command-column title="Hành động" [width]="100" [resizable]="false" [columnMenu]="false">
        <ng-template kendoGridCellTemplate let-dataItem let-isNew>
          <div class="d-flex">
            <button class="btn btn-primary btn-sm mr-2" kendoButton [iconClass]="'fas fa-pencil-alt'"></button>
            <button class="btn btn-danger btn-sm" kendoButton [iconClass]="'fas fa-trash-alt'"></button>
          </div>
        </ng-template>
      </kendo-grid-command-column>
    </kendo-grid>
  </div>
  <!--  End Kendo Grid  -->
</div>