<div class="all-page">
  <div class="all-page-left">
    <div class="img-logo">
      <img src="../../../../../assets/media/logos/smas_logo.png" />
      <h2>HỆ THỐNG QUẢN LÝ NHÀ THUỐC</h2>
      <div class="img-logo-app">
        <a href=""><img src="../../../../../assets/media/logos/appstore.png" alt=""></a>
        <a href=""><img src="../../../../../assets/media/logos/playstore.png" alt=""></a>
      </div>
    </div>
    <div class="img-bottom">
    </div>
  </div>
  <div class="all-page-right">
    <div class="page-right-content">
      <h2 class="title-right">ĐĂNG NHẬP</h2>
      <kt-auth-notice></kt-auth-notice>
      <!-- <span class="span-right">Bạn chưa có tài khoản? <a href="">Đăng ký</a></span> -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="form-group">
          <label>Tên đăng nhập</label>
          <input class="form-control"
                 type="text"
                 formControlName="email"
                 id="email"
                 aria-describedby="email"
                 placeholder="Nhập tên đăng nhập"
                 [ngClass]="{'is-invalid': submitted && f.get('email').invalid}">
          <div *ngIf="submitted && f.controls.email.errors" class="invalid-feedback">
            <div *ngIf="f.controls.email.errors.required">Hãy nhập tên đăng nhập!</div>
          </div>
        </div>
        <div class="form-group">
          <div class="label-flex">
            <label>Mật khẩu</label>
            <!--                      <a href="">Quên mật khẩu?</a>-->
          </div>
          <input class="form-control"
                 type="password"
                 formControlName="password"
                 id="exampleInputPassword1"
                 placeholder="Password"
                 [ngClass]="{'is-invalid': submitted && f.get('password').invalid}"
                 minlength="3">
          <div *ngIf="submitted && f.controls.password.errors" class="invalid-feedback">
            <div *ngIf="f.controls.password.errors.required">Hãy nhập password!</div>
          </div>
        </div>
        <div class="btn-all">
          <button class="btn-sign"> Đăng nhập </button>
          <!--                  <button class="btn-sign-gg">-->
          <!--                      Đăng nhập qua SSO-->
          <!--                  </button>-->
        </div>
      </form>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "medium"
  color = "#fff"
  type = "ball-fussion"
  [fullScreen] = "true">
  <p style="color: white" > Vui lòng chờ... </p>
</ngx-spinner>
