.btn-groupp{
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.k-grid-header, .k-grid-toolbar, .k-grouping-header, .k-grid-add-row, .k-grid-footer {
  color: #656565;
  background-color: #f6f6f6;
  display: none !important;
}
