<div class="modal-header">
    <h4 class="modal-title">
        {{title}}
    </h4>
    <button class="btn-close-h" aria-label="Close" (click)="cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formAdd">
        <div class="form-group kendo-form">
            <label for="">Tổ bộ môn <span class="text-danger">*</span></label>
            <kendo-dropdownlist class="toboMonField" #tobomon formControlName="idFaculty" [valueField]="'id'" [defaultItem]="defaultlistSubjects" style="width: 100%"
            [data]="schoolFaculty$ | async" [loading]="!(schoolFacultyLoaded$ | async)" (ngModelChange)="getStudent($event)" [textField]="'facultyName'" [valuePrimitive]="true">
            </kendo-dropdownlist>
            <div *ngIf="submitted && f.idFaculty.errors || (f.idFaculty.dirty || f.idFaculty.touched) && f.idFaculty.errors">
                <div class="text-danger mt-2">
                    <div *ngIf="f.idFaculty.errors.required">
                        Tổ bộ môn không được để trống
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group kendo-form">
            <label for="">Giáo viên <span class="text-danger">*</span></label>
            <kendo-dropdownlist formControlName="employeeId" [valueField]="'id'" [defaultItem]="defaultlistOfficer" style="width: 100%"
                [data]="listOfficer" [textField]="'fullName'" [valuePrimitive]="true" [loading]="isLoadingTC" class="toboMonField">
            </kendo-dropdownlist>
            <div *ngIf="submitted && f.employeeId.errors || (f.employeeId.dirty || f.employeeId.touched) && f.employeeId.errors">
                <div class="text-danger mt-2">
                    <div *ngIf="f.employeeId.errors.required">
                        Giáo viên không được để trống
                    </div>
                </div>
            </div>
            <div class="text-danger mt-2" *ngIf="isCheckTeacher">
                Không có giáo viên thuộc tổ bộ môn này
            </div>
        </div>
        <div class="form-group kendo-form">
            <label for="">Danh hiệu thi đua <span class="text-danger">*</span></label>
            <kendo-dropdownlist formControlName="honourAchivement" [valueField]="'cateCode'" [defaultItem]="defaultlistAchivement" style="width: 100%"
                [data]="listAchivement$ | async" [textField]="'cateName'" [valuePrimitive]="true">
            </kendo-dropdownlist>
            <div *ngIf="submitted && f.honourAchivement.errors || (f.honourAchivement.dirty || f.honourAchivement.touched) && f.honourAchivement.errors">
                <div class="text-danger mt-2">
                    <div *ngIf="f.honourAchivement.errors.required">
                        Danh hiệu thi đua không được để trống
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Ghi chú</label>
            <input type="text" class="form-control" formControlName="description" (focusout)="trimSpace('description')">
            <div *ngIf="submitted && f.description.errors || (f.description.dirty || f.description.touched) && f.description.errors">
                <div class="text-danger mt-2">
                    <div *ngIf="f.description.errors.maxlength">
                        Ghi chú không vượt quá 250 ký tự
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cancel()">Đóng</button>
            <button type="submit" (click)="onSubmit()" class="btn  btn-primary">Lưu</button>
        </div>
    </form>
    <div class="custom-loading-h">
        <div *ngIf="isloading" class="k-i-loading"></div>
    </div>
</div>
