.btn-add-user{
  background: #419197; color: white; font-size: medium; margin-right: 10px
}
.btn-dele-user{
  background: red; color: white; font-size: medium
}
.text-error{
  color: red;
}
.d-flex-s{
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-search{
        font-size: 21px;
    }
    h3{
        margin-bottom: 0;
        margin-left: 10px;
    }
  }
  .btn-search{
    background-color: #419197;
    color: #ffffff;
    margin-top: 20px;
  }
  .search-box-header{
    display: flex;
    justify-content: center;
    align-items: center;
    .col-form-label{
      margin-right: 15px;
    }
    .bnt-s{
      background-color: #419197;color: #ffffff; margin-left: 15px;
    }
    .bnt-res{
      color: black; margin-left: 15px; border: 1px solid #eee;
    }
  }
  .bg-add-pencil{
    background: #2a7e84 !important;
    i{
      color: white;
    }
  }
  .bg-dele-trash{
    background: red !important;
    i{
      color: white;
    }
  }
  .card-header.bg-dark-o-20.d-flex.justify-content-between{
    height: 50px;
  }

  @media(max-width: 767px){
    .search-box-header{
      display: block;
      .form-control-solid{
        width: 100%;
      }
      .bnt-s{
        margin-left: 0;
      }
      .bnt-s, .bnt-res{
        margin-top: 15px;
      }
      .custom-mt-15{
        margin-top: 15px;
      }
    }
    .card-body{
      padding: 10px !important;
    }
  }