
<div class="modal-body">
  <form [formGroup]="form">
      <div class="pt-5 row">
        <div class="col-sm-5">
        <label for="hinhThucKhenThuong">{{VI_LANG.FIELD.REWARD_FINAL}}<span
          style="color: red">*</span></label>
        </div>
        <div class="col-sm-7">
          <kendo-formfield style="margin-top: 0; padding: 0; width: 100%">
            <input type="text" id="hinhThucKhenThuong" class="form-control" placeholder="Nhập hình thức khen thưởng"
                   #hinhThucKhenThuong
                   [formControlName]="'rewardMode'"
                   smasTrim (change)="actionRF()">
            <kendo-formhint >{{VI_LANG.FIELD.REWARD_FINAL}} {{VI_LANG.COMMON_ERROR.REQUIRED}}</kendo-formhint>
            <kendo-formerror *ngIf="form.controls.rewardMode.errors?.required" style="font-size: smaller !important;">
              {{VI_LANG.FIELD.REWARD_FINAL}} {{VI_LANG.COMMON_ERROR.REQUIRED}}
            </kendo-formerror>
            <kendo-formerror *ngIf="form.controls.rewardMode.errors?.maxlength" style="font-size: smaller !important;">
              {{VI_LANG.FIELD.REWARD_FINAL}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_250}}
            </kendo-formerror>
          </kendo-formfield>
        </div>

      </div>

      <div class="pt-5 row">
        <div class="col-sm-5">
          <label for="pointSub1">{{VI_LANG.FIELD.NOTE}}</label>
        </div>
        <div class="col-sm-7">
          <kendo-formfield style="margin-top: 0; padding: 0; width: 100%">
            <input type="text" id="pointSub1" class="form-control" placeholder="Nhập ghi chú"
                 [formControlName]="'description'" (change)="actionRF()" smasTrim>
            <kendo-formhint>{{VI_LANG.FIELD.NOTE}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_250}}</kendo-formhint>
            <kendo-formerror *ngIf="form.controls.description.errors?.maxlength" style="font-size: smaller !important;">
              {{VI_LANG.FIELD.NOTE}} {{VI_LANG.COMMON_ERROR.MAX_LENGTH_250}}
            </kendo-formerror>
          </kendo-formfield>
        </div>
      </div>
  </form>
</div>

