.k-dropdown, .k-dropdowntree {
  width: 90% !important;
}

.dropdownSearch {
  margin-top: 20px;
}

.col-sm-2 {
  text-align: right;
  margin-top: 6px;
}

.button {
  margin-top: 10px;
  margin-bottom: 5px;
  background: #087D8C;
  color: white;
  border-radius: 5px;
}
