<div class="question">
    <i class="far fa-question-circle" style="font-size: 100px; color: red"></i>
    <p style="text-align: center; margin-top: 35px; margin-left: 30px; margin-right: 30px">Bạn có chắc chắn muốn xóa
        không?</p>
</div>
<div class="btn_end">
    <button type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
    <button type="submit" (click)="onSubmit()" class="btn btn-delete-h" [disabled]="isDisabled"
        [ngClass]="{ 'spinner spinner-right spinner-md spinner-black': loading}">
        Xóa
    </button>
</div>