.highlight{
  background: #42A948; /* green */
}

.no-scrollbar .k-grid-header
{
  padding: 0 !important;
}

.no-scrollbar .k-grid-content
{
  overflow-y: visible;
}
.buttonOK{
  color: white;
  background-color: #70a3a5;
  padding: 9px 13px;
  border: unset;
  border-radius: 5px;
  width: 140px;
  height: 40px
}
.buttonOK :hover{
  border-color: #e8e8e8;
  color: red;
}

.buttonOK :disabled{
  color: red;
}

.button-notification {
  padding: 10px 5px;
  color: #313536;
}
.updown{
  padding-right: 12px;
}
.dsmon{
  padding-top: 15px;
  font-size: x-large;
}
.divbutton{
  margin-right: -10px;
  margin-top: -8px;
}

.buttonChoose{
  margin-right: 25px; padding: 9px 13px; width: 140px; height: 40px
}
.titelDelete{
  text-align: center; margin-top: 35px; margin-left: 30px; margin-right: 30px
}
.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #419197;
}
.btn-save{
  background: #087D8C;
  color: white;
  border-radius: 5px;
}
.btn-save:hover, .btn-save:focus{
  background-color: #2a7e84;
}
