.table-left{
  border: 1px solid #7e8299;
  padding: 10px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.blue{
  color: #1BC5BD;
}
.red{
  color: red;
}
.bold{
  border: 2px solid
}
