<kt-portlet>
  <kt-portlet-body>
    <div class="row">
      <div class="col-md-3">
        <div class="table-left">năm học</div>
        <div class="table-left">2020-2021</div>
        <div class="table-left">1A1</div>
      </div>
      <div class="col-md-9">
        <p>Vi phạm</p>
        <table>
          <tr>
            <th>STT</th>
            <th>Ngày vi phạm</th>
            <th>Lỗi vi phạm</th>
            <th>Số lần</th>
          </tr>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>

        <p class="mt-5">Nghỉ học</p>
        <table>
          <tr>
            <th>STT</th>
            <th>Ngày nghỉ</th>
            <th colspan="2" class="bold">Sáng</th>
            <th colspan="2" class="bold">Chiều</th>
            <th colspan="2" class="bold">Tối</th>
          </tr>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td colspan="2" class="bold">Tổng số buổi nghỉ</td>
            <td class="blue">0P</td>
            <td class="red">0K</td>
            <td class="blue">0P</td>
            <td class="red">0K</td>
            <td class="blue">0P</td>
            <td class="red">0K</td>
          </tr>
        </table>

        <p class="mt-5">Miễn giảm</p>
        <table>
          <tr>
            <th>STT</th>
            <th>Môn miễn giảm</th>
            <th>Học kỳ</th>
          </tr>
          <tr>
            <td>1</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>2</td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>
