.btn-excel{
  position: relative;
  width: calc(1.5em + 0.75rem + 2px);
  height: calc(1.5em + 0.75rem + 2px);
  border: 1px solid gray !important;
  .fa-file-excel{
    font-size: 22px;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .fa-upload{
    position: absolute;
    bottom: 1px;
    right: 4px;
    font-size: 13px;
  }
  .fa-download{
    position: absolute;
    bottom: 1px;
    right: 4px;
    font-size: 13px;
  }
}


.backbtn{
  border-radius: 5px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;  
  font-size: 15px; 
  background-color:darkcyan; 
  float: left;
  width: 60px !important;
  left: 15px;
  
}
.nextbtn{
  border-radius: 5px;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;  
  font-size: 15px; 
  background-color:darkcyan; 
  float: right;
  width: 60px !important;
  left: 15px;
}
@media all and(max-width:768px){
  // .iphone{
  //     display: block;
  // }
  // .destop{
  //     display: none;
  // }
  .br1{
      display: block;
  }
   
  
      .backbtn{
          border-radius: 5px;
          height: 40px;
          padding-left: 40px;
          padding-right: 40px;  
          font-size: 15px; 
          background-color:darkcyan; 
          float: left;
          right: 20px;
          width: 150px !important;
      }
      
      .nextbtn{
          border-radius: 5px;
          height: 40px;
          padding-left: 20px;
          padding-right: 20px;  
          font-size: 15px; 
          background-color:darkcyan; 
          float: left;
          left: 40px;
          width: 150px !important;
  
      }

  }
