<div class="nav-std mb-5">
    <div class="link-router-l">
        <a routerLinkActive="active" routerLink="../profile-student">
            Hồ sơ
        </a>
        <a routerLinkActive="active" routerLink="../exemptions-students">Miễn giảm</a>
        <a routerLinkActive="active" routerLink="../individual-students">Cá biệt</a>
        <a routerLinkActive="active" routerLink="../transfer-school">Tiếp nhập chuyển trường</a>
        <a routerLinkActive="active" routerLink="../reward-students">Khen thưởng</a>
        <a routerLinkActive="active" routerLink="../discipline-students">Kỷ luật</a>
        <a routerLinkActive="active" routerLink="../recordkeeping-students">Bảo lưu</a>
    </div>
</div>
<kt-portlet>
    <kt-portlet-header [icon]="'fas fa-filter'" [title]="'Tìm kiếm'" [class]="'card-head-lg'"
        (click)="isCollapsed = !isCollapsed">
        <ng-container ktPortletTools>
            <i [hidden]="isCollapsed" class="fas fa-angle-double-down"></i>
            <i [hidden]="!isCollapsed" class="fas fa-angle-double-up"></i>
        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body *ngIf="!isCollapsed">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Khối</label>
                    <div class="kendo-form">
                        <kendo-dropdownlist style="width: 100%; background: #fff" [data]="listBlock"
                            [textField]="'text'" [valueField]="'value'">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Lớp học</label>
                    <div class="kendo-form">
                        <kendo-dropdownlist style="width: 100%" [data]="listClass" [textField]="'text'"
                            [valueField]="'value'">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Giới tính</label>
                    <div class="kendo-form">
                        <kendo-dropdownlist style="width: 100%" [data]="sex" [textField]="'text'"
                            [valueField]="'value'">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Mã học sinh</label>
                    <div class="kendo-form">
                        <input type="text" width="100%" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Họ và tên</label>
                    <div class="kendo-form">
                        <input type="text" width="100%" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Trạng thái</label>
                    <div class="kendo-form">
                        <kendo-dropdownlist style="width: 100%" [data]="listStatus" [textField]="'text'"
                            [valueField]="'value'">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Dân tộc</label>
                    <div class="kendo-form">
                        <kendo-dropdownlist style="width: 100%" [data]="listBlock" [textField]="'text'"
                            [valueField]="'value'">
                        </kendo-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary mb-mt-20"> Tìm kiếm</button>
            </div>
        </div>
    </kt-portlet-body>
</kt-portlet>

<kt-portlet>
    <kt-portlet-header [icon]="'fas fa-list'" [title]="'Danh sách'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
        </ng-container>
    </kt-portlet-header>

    <kt-portlet-body>
        <kendo-grid>
            <kendo-grid-checkbox-column [width]="45" [resizable]="false" [columnMenu]="false" showSelectAll="true">
            </kendo-grid-checkbox-column>
            <kendo-grid-column [width]="80" field="" title="STT">
            </kendo-grid-column>
            <kendo-grid-column [width]="150" field="" title="Họ và tên">
            </kendo-grid-column>
            <kendo-grid-column [width]="150" field="" title="Mã học sinh">
            </kendo-grid-column>
            <kendo-grid-column [width]="80" field="" title="Lớp">
            </kendo-grid-column>
            <kendo-grid-column [width]="150" field="" title="Ngày cập nhật">
            </kendo-grid-column>
            <kendo-grid-column [width]="200" field="" title="Những thay đổi cần chú ý của học sinh">
            </kendo-grid-column>
            <kendo-grid-column [width]="150" field="" title="Đặc điểm tâm lý">
            </kendo-grid-column>
        </kendo-grid>
    </kt-portlet-body>

</kt-portlet>