<kt-portlet>
  <kt-portlet-header [icon]="'fas fa-filter'" [title]="'Tìm kiếm'" [class]="'card-head-lg bgr-custom'"
                     (click)="isCollapsed = !isCollapsed">
    <ng-container ktPortletTools>
      <i [hidden]="isCollapsed" class="fas fa-angle-double-down"></i>
      <i [hidden]="!isCollapsed" class="fas fa-angle-double-up"></i>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body [ngbCollapse]="isCollapsed">
    <form class="row" [formGroup]="form">
      <div class="col-md-9 row align-items-center mt-2">
        <label class="col-sm-3 col-md-3 pr-md-0 mt-2">Ngày tạo hóa đơn :</label>
        <div class=" col-sm-8 ">
          <kendo-datepicker [incompleteDateValidation]="true" class="kendo-date" [formatPlaceholder]="{year: 'yyyy', month: 'mm', day: 'dd'}"
                            [format]="'dd/MM/yyyy'" aria-label="Ngày kỷ luật" formControlName="ngay">
          </kendo-datepicker>
        </div>
      </div>
      <div class="col-md-2 d-flex justify-content-md-end  mt-2">
        <button type="submit" class="btn btn-primary" (click)="search()">
          <i class="fas fa-filter"></i> Tìm kiếm
        </button>
      </div>

    </form>
  </kt-portlet-body>
</kt-portlet>
<kt-portlet>
  <kt-portlet-header [icon]="'fa fa-list'" [title]="'Danh Thuốc'" [class]="'card-head-lg bgr-custom'">
    <ng-container ktPortletTools>
      <button class="btn btn-primary btn-sm mr-2" type="button" (click)="openModalAdd()" ngbTooltip="Thêm"
              placement="bottom">
        <i class="fas fa-plus"></i>
      </button>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body>
    <div class="col-lg-12">
      <kendo-grid *ngIf="isLoading$ | async"
                  [data]="dataBill"
                  [sortable]="true"
                  [pageSize]="_pageSize"
                  [sort]="true"
                  [pageable]="true"
                  [skip]="skip"
                  [reorderable]="true" [resizable]="true"
                  [kendoGridSelectBy]="'id'"
                  [selectable]="{checkboxOnly : true}"
                  (pageChange)="pageChange($event)"
                  [height]="500"
                  [style]="{'border-radius': '25px'}">
        <kendo-grid-column field="id" title="TT" [width]="45" editable="false">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="loaihd" editor="text" title="Loại hóa đơn"></kendo-grid-column>
        <kendo-grid-column [width]="200" field="thoigianhd" editor="text" title="Thời gian tạo hóa đơn">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.thoigianhd | date: 'dd/MM/yyyy'}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="Xem sản phẩm" [width]="100">
          <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem="dataItem">
            <div class="d-flex justify-content-around align-items-center" kendoTooltip>
              <button kendoGridEditCommand ngbTooltip="Xem chi tiết sản phẩm" placement="left" container="body"
                      (click)="openModalDelete($event, dataItem)"
                      container="body">
                <i class="fas fa-eye" style="color: #419197"></i>
              </button>
            </div>
          </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column [width]="200" field="tongtien" editor="text" title="Tổng tiền hóa đơn"></kendo-grid-column>
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage" let-total="total"
                     let-skip="skip" let-pageSize="pageSize">
          <div class="d-flex justify-content-between w-100">
            <div class="p-1 d-flex">
              <kendo-dropdownlist class="w-60px" [data]="pageSizes" [(ngModel)]="_pageSize"
                                  (ngModelChange)="pageSizeChange()">
              </kendo-dropdownlist>
              <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{total === 0 ? 0 : skip + 1}}
                - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>
            </div>
            <div class="d-flex">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons [buttonCount]="buttonCount">
              </kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
          </div>
        </ng-template>
        <ng-template kendoGridNoRecordsTemplate>
          Không có dữ liệu
        </ng-template>
      </kendo-grid>
      <div class="custom-loading-h">
        <div *ngIf="loading | async" class="k-i-loading"></div>
      </div>
    </div>
  </kt-portlet-body>
</kt-portlet>
