.contentheader {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  .headeritem {
    .manipulation {
      float: right;
    }
  }
}

.table {
  position: relative;
}

.k-i-loading {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  font-size: 64px !important;
  background-color: rgba(255,255,255,.3) !important;
  color: #ff6757 !important;
  z-index: 1000;
}

.headeritem {
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden !important;
}

label{
  margin-left: 5px;
  margin-bottom: 3px;
}

label:hover{
  cursor: pointer;
}

.k-dateinput, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-multiselect, .k-numerictextbox, .k-maskedtextbox, .k-timepicker, .k-dropdowntree{
  width: 100%;
}

.k-grid-header .k-header > .k-link {
  word-wrap: break-word !important;
}

@media all and (min-width: 320px) {
  .show-total{
    width: 0;
    height: 0;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }

  .table-total{
    width: 0;
    height: 0;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }

  .page-number{
    width: 100%;
    float: right;
    font-size: xx-small !important;
    text-align: center!important;
  }

  .title-sub-school{
    font-size: 1.3rem;
    padding-top: 5px;
  }

  .manipulation button{
    font-size: small !important;
  }

  .btn-edit-sub-school{
    margin-right: 15px !important;
  }

  .change-button{
    width: 30px;
    height: 30px;
    margin-top: 7px !important;
  }

  .other-information{
    font-size: 10px;
  }

  .title-other-information{
    font-size: 14px;
    padding: unset;
  }

  .modal-footer button {
    font-size: small !important;
    width: 70px !important;
  }
}

@media all and (min-width: 600px) {
  .show-total{
    width: 0;
    height: 0;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
  }

  .table-total{
    width:55px !important;
    height: auto !important;
    font-size: small;
  }

  .modal-footer button {
    font-size: unset !important;
    //width: 140px !important;
  }

  .page-number{
    width: unset;
    float: unset;
    font-size: unset !important;
  }

  .change-button{
    width: unset;
    height: unset;
  }

  .other-information{
    font-size: 10px;
  }

  .title-other-information{
    font-size: unset;
  }
}

@media all and (min-width: 1024px) {
  .show-total{
    width: 250px !important;
    height: auto !important;
    text-overflow: unset !important;
    overflow: unset !important;
    font-size: small;
  }

  .modal-footer button {
    font-size: unset !important;
    //width: 140px !important;
  }

  .table-total{
    width:55px !important;
    height: auto !important;
    font-size: small;
  }

  .page-number{
    width: unset;
    float: unset;
    font-size: unset !important;
  }

  .title-other-information{
    font-size: unset;
  }
}

@media all and (min-width: 1280px) {
  .show-total{
    width: 300px !important;
    height: auto !important;
    text-overflow: unset !important;
    overflow: unset !important;
  }

  .modal-footer button {
    font-size: unset !important;
    //width: 140px !important;
  }

  //.modal-footer {
  //  justify-content: center;
  //}

  .table-total{
    width: 60px !important;
    height: auto !important;
    font-size: medium !important;
  }

  .page-number{
    width: unset;
    float: unset;
    font-size: unset !important;
  }

  .title-other-information{
    font-size: unset;
  }

  //.modal-content {
  //  width: 100vh;
  //  height: auto;
  //}
}

.k-grid table{
  min-width: 600px !important;
  overflow-x: scroll !important;
}

.btn-outline-submit {
  background: #4eaeb5;
  color: white;
}

.btn-outline-submit:hover {
  background: #419197;
  color: white;
}

.btn-outline-submit:focus {
  background: #419197;
  color: white;
}

.btn-outline-submit:active {
  background: #419197;
  color: white;
}

.button-next-step {
  background: #087D8C;
  width: 150px;
  height: 35px;
  color: white;
  border-radius: 4px;
}

@media (min-width: 321px) and (max-width: 480px) {
  .button-next-step{
    width: auto;
  }
}

.bgr-custom{
  background: rgba(24, 28, 50, 0.08) !important;
}
.card-header.bg-dark-o-20.d-flex.justify-content-between{
  height: 50px;
}
