<div style="height: 63vh;">
    <kt-portlet>
        <kt-portlet-header [title]="'Đổi mật khẩu'" [class]="'card-head-lg bgr-custom'">
            <ng-container ktPortletTools>
                <button type="submit" (click)="clickSave()" form="infoForm" placement="top" [ngbTooltip]="'Lưu'" class="btn" style="background-color: #419197;color: #ffffff;padding: 5px">
                  <i class="far fa-save" style="color: #eeeeee;padding-right: 0;font-size: 1.8rem"></i>
              </button>
            </ng-container>
        </kt-portlet-header>
        <kt-portlet-body>
            <form [formGroup]="form" (ngSubmit)="clickSave()" id="changeForm">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="currentPassword">Mật khẩu hiện tại &nbsp;<span style="color:red">*</span></label>
                    </div>
                    <div class="col-sm-4 ">
                        <kendo-formfield>
                            <input kendoTextBox class="form-control" type="password" id="currentPassword" [formControlName]="'currentPassword'">
                            <kendo-formerror *ngIf="form.controls.currentPassword.errors?.required">
                                Mật khẩu không được để trống!
                            </kendo-formerror>

                        </kendo-formfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <label for="newPassword">Mật khẩu mới &nbsp;<span style="color:red">*</span></label>
                    </div>
                    <div class="col-sm-4 ">
                        <kendo-formfield>
                            <input kendoTextBox class="form-control" type="password" id="newPassword" [formControlName]="'newPassword'">
                            <kendo-formerror *ngIf="form.controls.newPassword.errors?.required">
                                Mật khẩu không được để trống!
                            </kendo-formerror>
                            <!-- <kendo-formerror *ngIf="form.controls.newPassword.errors?.minLength">
                          Mật khẩu mới không được ít hơn 6 kí tự
                      </kendo-formerror> -->
                            <kendo-formerror>
                                <div *ngIf="f.newPassword.errors" class="k-tooltip-validation">

                                    <div *ngIf="f.newPassword.errors.minlength">Mật khẩu phải lớn hơn 8 kí tự</div>
                                </div>
                            </kendo-formerror>


                        </kendo-formfield>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-2">
                        <label for="confirmPassword">Xác nhận mật khẩu &nbsp;<span style="color:red">*</span></label>
                    </div>
                    <div class="col-sm-4  ">
                        <kendo-formfield>
                            <input kendoTextBox class="form-control" type="password" id="confirmPassword" [formControlName]="'confirmPassword'" er>
                            <kendo-formerror *ngIf="form.controls.confirmPassword.errors?.required">
                                Mật khẩu không được để trống!
                            </kendo-formerror>

                            <kendo-formerror>
                                <div *ngIf="f.confirmPassword.errors" class="k-tooltip-validation">

                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Mật khẩu phải trùng khớp! </div>
                                </div>
                            </kendo-formerror>
                        </kendo-formfield>
                    </div>
                </div>

            </form>
        </kt-portlet-body>
    </kt-portlet>
    <div class="custom-loading-h">
        <div *ngIf="isloading" class="k-i-loading"></div>
    </div>
</div>