

.justify-content-between{
    align-items: center;
}

.bnt-s{
    background-color: #419197;color: #ffffff; margin-top: 37px;
}

.color-icon{
    color: #686868;
}

.btn-add{
    background: #419197; 
    color: white; 
    margin-right: 10px
}

.btn-dele{
    background: red; 
    color: white; 
    font-size: medium; 
}

.text-error{
    color: red;
}

@media(max-width: 1200px){
    .bnt-res{
        margin-left: 4px;
    }
    .f-group{
        display: block;
        .col-form-label{
            display: block;
            width: 100%;
        }
        .f-group-dropdownlist{
            width: 100%;
        }
    }
    .btn-custom{
        margin-top: 38px !important;
    }
}

@media(max-width: 767px){
    .bnt-s, .bnt-res{
        margin-top: 15px;
    }
    .custom-mt-15{
        margin-top: 15px;
    }
}

