//button
.buttonChoose{
  margin-right: 25px; padding: 9px 13px; width: 120px; height: 40px
}
.btn-save{
  background-color: #087D8C;
  color: white;
}
.btn-save:hover, .btn-save:focus{
  background-color: #2a7e84;
}
.btn-custom-h-cl {
  background: #087D8C;
  color: white;
}

//custom css
.form-control.form-control-solid{
  background: white !important
}
.bnt-s{
  background-color: #419197;color: #ffffff; margin-top: 37px;
}
.bnt-res{
  background-color: #333;color: #ffffff; margin-top: 37px; margin-left: 10px;
}

.card-header.bg-dark-o-20.d-flex.justify-content-between{
  height: 50px;
}

.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #419197;
}

.search-box-header-flex-h{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .col-form-label{
    width: 20%;
  }
  .col-form-label-gv-2{
    width: 40%;
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5
  }
  .search-box-header-flex-h-kendo2{
    width: 60%;
    .input-h-kendo2{
      height: 30px;
      width: 100%;
      border: .5px solid #b5b5c3;
      padding: 3px;
    }
  }
  .search-box-header-flex-h-kendo{
    width: 80%;
  }
}

@media(max-width: 1290px){
  .bnt-res{
    margin-left: 4px;
  }
  .search-box-header-flex-h{
    display: block;
    .col-form-label, .col-form-label-gv-2{
      width: 100%;
    }
    .search-box-header-flex-h-kendo, .search-box-header-flex-h-kendo2{
      width: 100%;
    }
  }
  .btn-custom-h-cl{
    margin-top: 30px !important;
  }
  .mb-t-10{
    padding: 9px 0px;
  }
}
@media(max-width: 767px){
  .bnt-s, .bnt-res{
    margin-top: 15px;
  }
  .custom-mt-15{
    margin-top: 15px;
  }
  .mb-15-h{
    margin-bottom: 15px;
  }
  .btn-custom-h-cl{
    margin-top: 0px !important;
  }
}
//css model
::ng-deep .myCustomModalClass  .modal-dialog {
  max-width:450px;
  width: 450px;
  max-height: 300px;
  height: 300px;

}
