<div class="modal-header">
  <h4 class="modal-title">
    {{title}}
  </h4>
  <button class="btn-close-h" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="action-container">
    <form [formGroup]="form">
      <div>
        <div class="form-group">
          <label class="col-form-label">Email</label>
          <div class="">
            <input #email (focusout)="trimSpace('email')" type="text" class="form-control"
                   formControlName="email" name="email"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.email.errors || f.email.errors && (f.email.dirty || f.email.touched)">
            <div class="text-error">
              <div *ngIf="f.email.errors.maxlength">
                Email không được quá 55 ký tự
              </div>
              <div *ngIf="f.email.errors.required">
                Email không được để trống
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-form-label">Password</label>
          <div class="">
            <input #password (focusout)="trimSpace('password')" type="text" class="form-control"
                   formControlName="password"
                   name="password"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.password.errors || f.password.errors && (f.password.dirty || f.password.touched)">
            <div class="text-error">
              <div *ngIf="f.password.errors.required">
                Password không được để trống
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Họ và tên</label>
          <div class="">
            <input (focusout)="trimSpace('fullName')" type="text" class="form-control" formControlName="fullName"
                   name="fullName"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.fullName.errors || f.fullName.errors && (f.fullName.dirty || f.fullName.touched)">
            <div class="text-error">
              <div *ngIf="f.fullName.errors.required">
                Họ và tên không được để trống
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Ngày sinh</label>
          <div class="">
            <kendo-datepicker [incompleteDateValidation]="true" class="kendo-date" [formatPlaceholder]="{year: 'yyyy', month: 'mm', day: 'dd'}"
                              [format]="'dd/MM/yyyy'" aria-label="Ngày kỷ luật" formControlName="ngaysinh">
            </kendo-datepicker>
            <div class="col-sm-2"></div>
            <div class="col-sm-10"
                 *ngIf="submitted && f.ngaysinh.errors || f.ngaysinh.errors && (f.ngaysinh.dirty || f.ngaysinh.touched)">
              <div class="text-error">
                <div *ngIf="f.ngaysinh.errors.required">
                  Ngày sinh không được để trống
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Số điện thoại:</label>
          <div class="">
            <input (focusout)="trimSpace('sodienthoai')" type="number" class="form-control" formControlName="sodienthoai"
                   name="sodienthoai"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.sodienthoai.errors || f.sodienthoai.errors && (f.sodienthoai.dirty || f.sodienthoai.touched)">
            <div class="text-error">
              <div *ngIf="f.sodienthoai.errors.required">
                Số điện thoại không được để trống
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Lương</label>
          <div class="">
            <input (focusout)="trimSpace('salary')" type="number" class="form-control" formControlName="salary"
                   name="salary"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.salary.errors || f.salary.errors && (f.salary.dirty || f.salary.touched)">
            <div class="text-error">
              <div *ngIf="f.salary.errors.required">
                Lương không được để trống
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-form-label">Quê quán</label>
          <div class="">
            <input (focusout)="trimSpace('quequan')" type="text" class="form-control" formControlName="quequan"
                   name="quequan"/>
          </div>
          <div class="col-sm-2"></div>
          <div class="col-sm-10"
               *ngIf="submitted && f.quequan.errors || f.quequan.errors && (f.quequan.dirty || f.quequan.touched)">
            <div class="text-error">
              <div *ngIf="f.quequan.errors.maxlength">
                Quê quán không được quá 255 ký tự
              </div>
            </div>
          </div>
        </div>
        <div class="custom-loading-h">
          <div *ngIf="loading | async" class="k-i-loading"></div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="cancel()">Đóng</button>
    <button type="submit" class="btn  btn-primary" (click)="onSubmit()">Lưu</button>
  </div>
</div>
