.buttonChoose{
  margin-right: 25px; padding: 9px 13px; width: 140px; height: 40px
}
.btn-save{
  background: #087D8C;
  color: white;
  border-radius: 5px;
}
.btn-save:hover, .btn-save:focus{
  background-color: #2a7e84;
}
