<div class="nav-std mb-5">
  <div class="link-router-l">
      <a routerLinkActive="active" routerLink="../profile-student">
          Hồ sơ
      </a>
      <a routerLinkActive="active" routerLink="../exemptions-students">Miễn giảm</a>
      <a routerLinkActive="active" routerLink="../individual-students">Cá biệt</a>
      <a routerLinkActive="active" routerLink="../transfer-school">Tiếp nhập chuyển trường</a>
      <a routerLinkActive="active" routerLink="../reward-students">Khen thưởng</a>
      <a routerLinkActive="active" routerLink="../discipline-students">Kỷ luật</a>
      <a routerLinkActive="active" routerLink="../recordkeeping-students">Bảo lưu</a>
  </div>
</div>

<kt-portlet>
  <kt-portlet-header [icon]="'fas fa-filter'" [title]="'Tìm kiếm'" [class]="'card-head-lg bgr-custom'"
                     (click)="isCollapsed = !isCollapsed">
    <ng-container ktPortletTools>
      <i [hidden]="isCollapsed" class="fas fa-angle-double-down"></i>
      <i [hidden]="!isCollapsed" class="fas fa-angle-double-up"></i>
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body *ngIf="isCollapsed">
    <div class="row">
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Khối</label>
          <div class="kendo-form">
            <kendo-dropdownlist
              style="width: 100%; background: #fff"
              [data]="_listGradeLevel$ | async"
              [textField]="'cateName'"
              [defaultItem]="_defaultItem"
              [valuePrimitive]="true"
              [valueField]="'id'">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Lớp học</label>
          <div class="kendo-form">
            <kendo-dropdownlist
              style="width: 100%"
              [data]="_listClassName$ |async"
              [textField]="'cateName'"
              [defaultItem]="_defaultItem"
              [valuePrimitive]="true"
              [valueField]="'id'">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Giới tính</label>
          <div class="kendo-form">
            <kendo-dropdownlist
              style="width: 100%"
              [data]="_listGender$ | async"
              [defaultItem]="_defaultItem"
              [textField]="'cateName'"
              [valuePrimitive]="true"
              [valueField]="'id'">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Mã học sinh</label>
          <div class="kendo-form">
            <input type="text" width="100%" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Họ và tên</label>
          <div class="kendo-form">
            <input type="text" width="100%" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Trạng thái</label>
          <div class="kendo-form">
            <kendo-dropdownlist
              style="width: 100%"
              [data]="_listStatus$ | async"
              [textField]="'cateName'"
              [valuePrimitive]="true"
              [defaultItem]="_defaultItem"
              [valueField]="'id'">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Dân tộc</label>
          <div class="kendo-form">
            <kendo-dropdownlist
              style="width: 100%"
              [data]="_listEthnic$ | async"
              [textField]="'cateName'"
              [valuePrimitive]="true"
              [defaultItem]="_defaultItem"
              [valueField]="'id'">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Hình thức khen thưởng</label>
          <div class="kendo-form">
            <kendo-dropdownlist
              style="width: 100%"
              [data]="_listBonusForm$ |async"
              [textField]="'cateName'"
              [defaultItem]="_defaultItem"
              [valuePrimitive]="true"
              [valueField]="'id'">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-search-control">
          <label>Nơi khen thưởng</label>
          <div class="kendo-form">
            <kendo-dropdownlist
              style="width: 100%"
              [data]=""
              [textField]="'text'"
              [valueField]="'value'">
            </kendo-dropdownlist>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button type="submit" class="btn btn-primary mt-8">
          <i class="fas fa-filter"></i> Tìm kiếm
        </button>
      </div>
    </div>

  </kt-portlet-body>
</kt-portlet>

<kt-portlet>
  <kt-portlet-header [icon]="'fa fa-list'" [title]="'Danh sách khen thưởng'" [class]="'card-head-lg bgr-custom'">
    <ng-container ktPortletTools>
<!--      <button class="btn btn-primary btn-sm mr-2" type="button" (click)="openModalAdd(content)" ngbTooltip="Thêm"-->
<!--              placement="bottom" [disabled]="checkDisableYear">-->
<!--        <i class="fas fa-plus"></i>-->
<!--      </button>-->
<!--      <button class="btn btn-danger btn-sm" type="button" (click)="openModalDeleteList()" ngbTooltip="Xóa"-->
<!--              placement="bottom" [disabled]="checkDeleteAll">-->
<!--        <i class="far fa-trash-alt"></i>-->
<!--      </button>-->
    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <div class="col-lg-12">
      <kendo-grid [data]="gridView">
        <kendo-grid-checkbox-column class="text-center" [width]="45" [resizable]="false" [columnMenu]="false"
                                    showSelectAll="true">
        </kendo-grid-checkbox-column>
        <kendo-grid-column title="TT" [headerClass]="{'header-table-custom': true}" [width]="50" [resizable]="false">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="200" editor="text" title="Họ và tên" field="hoTen">
        </kendo-grid-column>
        <kendo-grid-column [width]="200" editor="text" title="Mã học sinh" field="maHocSinh">
        </kendo-grid-column>
        <kendo-grid-column [width]="200" editor="text" title="Ngày sinh" field="ngaySinh">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.decisionDate | date: 'dd/MM/yyyy'}}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="200" editor="text" title="Giới tính" field="gioiTinh">
        </kendo-grid-column>
        <kendo-grid-column [width]="200" title="Lớp" field="lop">
        </kendo-grid-column>
        <kendo-grid-column [width]="200" editor="text" title="Số lần kỷ luật " field="soLanKhenThuong">
        </kendo-grid-column>

        <kendo-grid-command-column title="Sửa" [width]="70" [resizable]="false" [columnMenu]="false">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <div class="d-flex justify-content-around align-items-center">
              <button kendoGridEditCommand ngbTooltip="Sửa" placement="left" container="body"
                      (click)="openModalEdit(dataItem)"
                      container="body">
                <i class="fas fa-pencil-alt " style="color: #419197"></i>
              </button>
            </div>
          </ng-template>
        </kendo-grid-command-column>
        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage" let-total="total"
                     let-skip="skip" let-pageSize="pageSize">
          <div class="d-flex justify-content-between w-100">
            <div class="p-1 d-flex">
              <kendo-dropdownlist class="w-60px" [data]="pageSizes" [(ngModel)]="_pageSize"
                                  (ngModelChange)="pageSizeChange()">
              </kendo-dropdownlist>
              <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{total === 0 ? 0 : skip + 1}}
                - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>
            </div>
            <div class="d-flex">
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <kendo-pager-numeric-buttons [buttonCount]="buttonCount">
              </kendo-pager-numeric-buttons>
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </div>
          </div>
        </ng-template>
      </kendo-grid>
<!--      <div class="custom-loading-h">-->
<!--        <div *ngIf="loading" class="k-i-loading"></div>-->
<!--      </div>-->
    </div>
  </kt-portlet-body>
</kt-portlet>

<!--<ng-template #mymodal let-modal class="modal-dialog modal-dialog-centered modal-dialog-scrollable">-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title">{{textEC}}</h4>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="closeModal()">-->
<!--      <i class="fas fa-times" style="font-size: large"></i>-->
<!--    </button>-->
<!--  </div>-->
<!--  <kt-action-emulation-criteria [action]="actionDialog" [data]="data" (close)="setAction('')"-->
<!--                                (emuPost)="postData($event)" (emuPut)="putData($event)"></kt-action-emulation-criteria>-->
<!--  <div class="modal-footer">-->
<!--    <button class="btn btn-secondary btn-custom" (click)="modal.close('Close click')">{{VI_LANG.BUTTON.CLOSE}}</button>-->
<!--    <button class="btn btn-primary" id="actionCategory" (click)="submit()">{{VI_LANG.BUTTON.SAVE}}</button>-->
<!--  </div>-->
<!--  <div class="custom-loading-h">-->
<!--    <div *ngIf="okLoading | async" class="k-i-loading"></div>-->
<!--  </div>-->
<!--</ng-template>-->
