.buttonChoose{
  margin-right: 25px; padding: 9px 13px; width: 140px; height: 40px
}
.btn-save{
  background: #087D8C;
  color: white;
  border-radius: 5px;
}
.btn-save:hover, .btn-save:focus{
  background-color: #2a7e84;
}
.k-i-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 64px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #419197;
}
////scrollbar
//.action-container{
//  position: relative;
//  overflow: auto;
//  overflow-x: hidden;
//  max-height: 450px;
//  padding-right: 10px;
//  margin-right: -10px;
//}
//.action-container::-webkit-scrollbar {
//  width: 3px;
//}
//
///* Track */
//.action-container::-webkit-scrollbar-track {
//  background: #f1f1f1;
//}
//
///* Handle */
//.action-container::-webkit-scrollbar-thumb {
//  background: #888;
//}
//
///* Handle on hover */
//.action-container::-webkit-scrollbar-thumb:hover {
//  background: #555;
//}
////scrollbar-end//
