.btn-color {
  margin-right: 80px;
  .title {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      border-radius: 3px;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }

    &.title-saturday {
      margin-right: 60px;
      &:after {
        background-color: #40e940;
      }
    }

    &.title-sunday {
      &:after {
        background-color: #eaea41;
      }
    }
  }
}
.note{
  i{
    font-size: 12px;
    color: black;
  }
}
.title-header{
  span{
    font-weight: bold !important;
  }
}

.attendance{
  .lbl_txt{
    font-size: 12px;
    font-weight: normal;
  }
  //.k-dropdown{
  //  .k-dropdown-wrap{
  //    background-color: white !important;
  //  }
  //}
  .day{
    .k-dropdown{
      width: 10.4em !important;
    }
  }
  .month{
    .k-dropdown{
      width: 9.4em !important;
    }
  }
  .form-check{
    margin-left: 30px;
    label{
      font-size: 12px;
    }
    input{
      margin-top: 2px !important;
    }
  }

  .form-group{
    margin-left: 30px;
  }

}

