.f-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  .col-form-label{
    width: 35%;
  }
  .dropdown-css{
    width: 65%;
    height: 35px;
    border-radius: 3px;
    margin: auto !important;
  }
  .kendo-form{
    width: 100%;
  }
  input{
    width: 100%;
    height: 35px;
    border-radius: 3px;
    padding: 0 10px;
  }
}


