<kt-portlet>
  <!-- Search -->
  <kt-portlet-header [icon]="'fas fa-filter'" [title]="'Tìm kiếm'" [class]="'card-head-lg bgr-custom'"
                     (click)="isCollapsed = !isCollapsed">
    <ng-container ktPortletTools>
      <i [hidden]="isCollapsed" class="fas fa-angle-double-up"></i>
      <i [hidden]="!isCollapsed" class="fas fa-angle-double-down"></i>
    </ng-container>
  </kt-portlet-header>
  <kt-portlet-body *ngIf="!isCollapsed">
    <form [formGroup]="searchForm">
      <div class="row">

        <div class="col-md-4 mb-15-h">
          <div class="f-group">
            <label class="col-form-label">Tên học sinh</label>
            <input placeholder="Nhập tên học sinh" class="form-control" formControlName="fullName">
          </div>
        </div>

        <div class="col-md-4 mb-15-h">
          <div class="f-group">
            <label class="col-form-label">Mã học sinh</label>
            <input placeholder="Nhập mã học sinh" class="form-control" formControlName="studentCode">
          </div>
        </div>

        <div class="col-md-4 mb-15-h">
          <div class="f-group">
            <label class="col-form-label">Giới tính</label>
            <div class="kendo-form">
            <kendo-dropdownlist formControlName="gender" class="dropdown-css .k-dropdown-wrap"
                                style="width: 100%"
                                [valuePrimitive]="true"
                                [data]="gender$ | async"
                                [defaultItem]="defaultCategory"
                                [textField]="'cateName'"
                                [valueField]="'cateCode'">
              <ng-template kendoDropDownListNoDataTemplate>{{VI_LANG.NOTIFICATION.NO_DATA}}</ng-template>
            </kendo-dropdownlist>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-15-h">
          <div class="f-group">
            <label class="col-form-label">Quận/huyện</label>
            <div class="kendo-form">
            <kendo-dropdownlist formControlName="receptionFromSchool" class="dropdown-css"
                                style="width: 100%"
                                [valuePrimitive]="true"
                                [defaultItem]="defaultCategory"
                                [textField]="'cateName'"
                                [valueField]="'cateCode'">
              <ng-template kendoDropDownListNoDataTemplate>{{VI_LANG.NOTIFICATION.NO_DATA}}</ng-template>
            </kendo-dropdownlist>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-15-h">
          <div class="f-group">
            <label class="col-form-label p-0">Tiếp nhận từ trường</label>
            <div class="kendo-form">
            <kendo-dropdownlist formControlName="receptionFromSchool" class="dropdown-css"
                                style="width: 100%"
                                [valuePrimitive]="true"
                                [defaultItem]="defaultCategory"
                                [textField]="'cateName'"
                                [valueField]="'cateCode'">
              <ng-template kendoDropDownListNoDataTemplate>{{VI_LANG.NOTIFICATION.NO_DATA}}</ng-template>
            </kendo-dropdownlist>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-15-h ">
          <div class="f-group">
            <label class="col-form-label pt-0">Nguồn tiếp nhận</label>
            <div class="kendo-form">
            <kendo-dropdownlist formControlName="receptionTo" class="dropdown-css"
                                style="width: 100%"
                                [valuePrimitive]="true"
                                [defaultItem]="defaultCategory"
                                [textField]="'cateName'"
                                [valueField]="'cateCode'">
              <ng-template kendoDropDownListNoDataTemplate>{{VI_LANG.NOTIFICATION.NO_DATA}}</ng-template>
            </kendo-dropdownlist>
            </div>
          </div>
        </div>
        <div class="col-12 text-center mt-8">
          <button type="button" class="btn btn-custom-h-cl btn-primary" (click)="searchStudent()">
            <i class="fas fa-filter"></i> Tìm kiếm
          </button>
        </div>

      </div>
    </form>
  </kt-portlet-body>
</kt-portlet>
  <!--End Search -->

<kt-portlet>

  <kt-portlet-header [icon]="'fas fa-th-list'" [title]="'Danh sách học sinh đã tiếp nhận'" [class]="'card-head-lg'">
  </kt-portlet-header>

  <kt-portlet-body>
    <kendo-grid [data]="gridView"
                [selectedKeys]="mySelection"
                kendoGridSelectBy="id"
                [pageSize]="_pageSize" [pageable]="true" scrollable="scrollable"
                [sortable]="true" [reorderable]="true"
                [resizable]="false"
                [height]="500"
                [selectable]="{mode: 'multiple',enable: true, checkboxOnly: true}"
                (selectedKeysChange)="onChange($event)" (pageChange)="pageChange($event)" [skip]="skip"
                [style]="{'border-radius': '25px'}" >
      <kendo-grid-checkbox-column [width]="45" [resizable]="false" [columnMenu]="false" showSelectAll="true">
      </kendo-grid-checkbox-column>
      <kendo-grid-column title="TT" headerClass="text-center font-weight-bold" class="text-center" [width]="40" [resizable]="false">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
      </kendo-grid-column>
      <kendo-grid-column editor="text" title="Họ tên " [width]="200" field="fullName"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" >
      </kendo-grid-column>
      <kendo-grid-column [width]="150" editor="text" title="Mã học sinh" field="studentCode"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" >
      </kendo-grid-column>
      <kendo-grid-column [width]="100" editor="text" title="Giới tính" field="gender"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" >
      </kendo-grid-column>
      <kendo-grid-column [width]="200" editor="text" title="Tiếp nhận từ trường" field="receptionFrom"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" >
      </kendo-grid-column>
      <kendo-grid-column [width]="140" editor="text" title="Nguồn tiếp nhận" field="receptionTo"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" >

      </kendo-grid-column>
      <kendo-grid-column title="Hồ sơ đã có trên SMAS" [width]="160" editor="text" field="profile"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" >
      </kendo-grid-column>
      <kendo-grid-column [width]="150" editor="text" title="Lớp được phân chia" field="classification"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" >

      </kendo-grid-column>
      <ng-template kendoPagerTemplate let-currentPage="currentPage" let-total="total" let-skip="skip"
                   let-pageSize="pageSize">
        <div class="d-lg-flex d-md-block justify-content-between w-100">
          <div class="p-1 d-flex d-sm-flex justify-content-between">
            <kendo-dropdownlist style="width: 60px;" [data]="pageSizes" [defaultItem]="5" [(ngModel)]="_pageSize"
                                (ngModelChange)="pageSizeChange()">
            </kendo-dropdownlist>
            <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{skip + 1}}
              - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>
          </div>
          <div class="d-flex justify-content-center custom-mt-15">
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="10"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
          </div>
        </div>
      </ng-template>
      <ng-template kendoGridNoRecordsTemplate>
        {{VI_LANG.NOTIFICATION.NO_DATA}}
      </ng-template>
    </kendo-grid>
  </kt-portlet-body>

</kt-portlet>

