.detail{
  font-weight: bold;

}
.class-room-h-title{
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .class-room-h-title-line{
    width: 100%;
    position: relative;
  }
  .class-room-h-title-line::before{
    content: '';
    position: absolute;
    top: -3px;
    left: 0px;
    background: #656565;
    height: 1px;
    z-index: 1;
    width: 100%;
  }
}

table {
  margin-top: 20px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
