<kt-portlet>

  <kt-portlet-header [icon]="'fa fa-list'" [title]="'Danh sách phân công'" [class]="'card-head-lg bgr-custom'">
    <ng-container ktPortletTools>

      <button type="button" class="mr-2 btn btn-success btn-sm" placement="top" container="body"
              ngbTooltip="Nhập dữ liệu từ Excel" (click)="openImportFileExcel()"><i class="fas fa-file-export"></i>
      </button>

      <button type="button" class="mr-2 btn btn-success btn-sm" placement="top" container="body"
              ngbTooltip="Sao chép" (click)="copyGrid()"><i class="far fa-copy"></i>
      </button>

      <button [iconClass]="'fas fa-plus'" class="btn btn-primary btn-sm mr-2" (click)="openModalAdd()"  ngbTooltip="Thêm mới" kendoButton type="button"></button>

      <button [iconClass]="'far fa-trash-alt'" ngbTooltip="Xoá bỏ"
              (click)="openModalDelete(dataItem)" class="btn btn-danger btn-sm mr-2" kendoButton type="button"></button>

    </ng-container>
  </kt-portlet-header>

  <kt-portlet-body>
    <kendo-grid
      (pageChange)="pageChange($event)"
      (selectedKeysChange)="onChange($event)"
      [pageSize]="_pageSize"
      [pageable]="true"
      [selectedKeys]="mySelection"
      kendoGridSelectBy="id"
      [skip]="skip"
      [data]="gridView"
      [sortable]="false"
      [selectable]="{checkboxOnly: true}"
      [reorderable]="false"
      [resizable]="false"
      [height]="500"
      [style]="{'border-radius': '25px'}">

      <kendo-grid-checkbox-column [width]="40" [resizable]="false" [columnMenu]="false"
                                  headerClass="text-center font-weight-bold" class="text-center" showSelectAll="true">
      </kendo-grid-checkbox-column>

      <kendo-grid-column title="TT" headerClass="text-center font-weight-bold" class="text-center" [width]="60" [resizable]="false">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="100" editor="text" title="Mã định danh"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <kendo-grid-column [width]="150" editor="text" title="Họ tên cán bộ"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <kendo-grid-column [width]="200" editor="text" title="Môn(Lớp phân công)"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <kendo-grid-column [width]="150" editor="text" title="Số tiết định mức/Tuần"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <kendo-grid-column [width]="100" editor="text" title="Số tiết kiêm nhiệm"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <kendo-grid-column [width]="150" editor="text" title="Số tiết đã phân công"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <kendo-grid-column [width]="100" editor="text" title="Nhu cầu"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <kendo-grid-column [width]="100" editor="text" title="Trạng thái"
                         [columnMenu]="false" [resizable]="false" headerClass="text-center font-weight-bold" class="text-center">
      </kendo-grid-column>

      <ng-template kendoPagerTemplate
                   let-currentPage="currentPage"
                   let-total="total"
                   let-skip="skip"
                   let-pageSize="pageSize">
        <div class="d-flex justify-content-between w-100">
          <div class="p-1 d-flex d-sm-flex justify-content-between">
            <kendo-dropdownlist style="width: 60px;" [data]="pageSizes" [(ngModel)]="_pageSize"
                                (ngModelChange)="pageSizeChange()">
            </kendo-dropdownlist>
            <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{skip + 1}}
              - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>
          </div>
          <div class="d-flex page-number">
            <kendo-pager-prev-buttons class="pagenumbernext"></kendo-pager-prev-buttons>
            <kendo-pager-numeric-buttons [buttonCount]="5"></kendo-pager-numeric-buttons>
            <kendo-pager-next-buttons class="pagenumberlast"></kendo-pager-next-buttons>
          </div>
        </div>
      </ng-template>
      <ng-template kendoGridNoRecordsTemplate>{{VI_LANG.NOTIFICATION.NO_DATA}}</ng-template>
    </kendo-grid>
    <!--    <div class="custom-loading-h">-->
    <!--      <div *ngIf="loadingKendoGrid | async" class="k-i-loading"></div>-->
    <!--    </div>-->
  </kt-portlet-body>

</kt-portlet>

<ng-template #deleteDialog class="modal-dialog modal-dialog-centered modal-dialog-scrollable" let-c="close"
             let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title" id="modalDeleteSchool" style="font-size: large; font-weight: bold">Xóa danh sách phân công?</p>
      <button (click)="closeModalDelete()" aria-label="Close" class="close" type="button">
        <i class="fas fa-times" style="font-size: large"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="question" style="display: flex">
        <i class="far fa-question-circle" style="font-size: 100px; color: red"></i>
        <p style="text-align: center; margin-top: 35px; margin-left: 30px; margin-right: 30px">
          {{VI_LANG.NOTIFICATION.CONFIRM_DELETE}} </p>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="closeModalDelete()" class="btn btn-secondary mr-3"
              type="button">{{VI_LANG.BUTTON.CANCEL}}</button>
      <button #deleteElement (click)="submitDelete()" class="btn  btn-primary"
              type="button">{{VI_LANG.BUTTON.OK}}</button>
    </div>
  </div>
  <!--  <div class="custom-loading-h">-->
  <!--    <div *ngIf="loadingSubmit" class="k-i-loading"></div>-->
  <!--  </div>-->
</ng-template>
