<div class="modal-header">
  <h4 class="modal-title">
    Chi tiết sản phẩm
  </h4>
  <button class="btn-close-h" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="action-container">
    <div class="col-lg-12">
      <kendo-grid *ngIf="isLoading$ | async"
                  [data]="dataDetail"
                  [sortable]="true"
                  [reorderable]="true" [resizable]="true"
                  [kendoGridSelectBy]="'id'"
                  [selectable]="{checkboxOnly : true}"
                  [height]="500"
                  [style]="{'border-radius': '25px'}">
        <kendo-grid-column field="id" title="TT" [width]="45" editable="false">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{rowIndex + 1}}</ng-template>
        </kendo-grid-column>
        <kendo-grid-column [width]="200" field="tenthuoc" editor="text" title="Tên thuốc"></kendo-grid-column>
        <kendo-grid-column [width]="200" field="soluong" editor="text" title="Số lượng"></kendo-grid-column>
        <kendo-grid-column [width]="200" field="donvinhap" editor="text" title="Đơn vị nhập"></kendo-grid-column>
        <kendo-grid-column [width]="200" field="giathuocban" editor="text" title="Giá thuốc bán"></kendo-grid-column>
        <kendo-grid-column [width]="200" field="tongtiensp" editor="text" title="Tổng tiền sản phẩm">
        </kendo-grid-column>

        <!--    <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage" let-total="total"-->
        <!--                 let-skip="skip" let-pageSize="pageSize">-->
        <!--      <div class="d-flex justify-content-between w-100">-->
        <!--        <div class="p-1 d-flex">-->
        <!--          <kendo-dropdownlist class="w-60px" [data]="pageSizes" [(ngModel)]="_pageSize" (ngModelChange)="pageSizeChange()">-->
        <!--          </kendo-dropdownlist>-->
        <!--          <p class="m-0 pl-3 pt-2">Tổng số: {{total}}. Hiển thị {{total === 0 ? 0 : skip + 1}}-->
        <!--            - {{pageSize * currentPage >= total ? total : pageSize * currentPage}}</p>-->
        <!--        </div>-->
        <!--        <div class="d-flex">-->
        <!--          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>-->
        <!--          <kendo-pager-numeric-buttons [buttonCount]="buttonCount">-->
        <!--          </kendo-pager-numeric-buttons>-->
        <!--          <kendo-pager-next-buttons></kendo-pager-next-buttons>-->
        <!--        </div>-->
        <!--      </div>-->
        <!--    </ng-template>-->
        <ng-template kendoGridNoRecordsTemplate>
          Không có dữ liệu
        </ng-template>
      </kendo-grid>
      <div class="custom-loading-h">
        <div *ngIf="loading | async" class="k-i-loading"></div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">

</div>

