
 <router-outlet></router-outlet>
<!--<div>-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

<!-- <div class="splash-screen bg-white">
  <div class="border bg-img border-radius">
    <div class="row h-100">
      <div class="col-md-7 d-flex flex-column" >
        <div style="flex: 1 0 auto">
          <img src="./assets/media/logos/smas_logo.png" class="m-5" height="170px" />
          <h1 class="text-uppercase text-color-primary m-5" style="font-size: 38px">Hệ thống quản lý nhà trường</h1>
          <div class="m-5">
            <img src="./assets/media/logos/appstore.png" style="max-width: 200px" class="mr-5"/>
            <img src="./assets/media/logos/playstore.png" style="max-width: 200px;"/>
          </div>
        </div>

        <div class="m-5">
          <p class="font-weight-bold">Tư vấn và hỗ trợ (Miễn phí)</p>
          <span style="font-size: 30px">1800 8000</span>
          <span style="font-size: 16px" class="font-weight-bold"> (Nhánh 2)</span>
          <p class="mt-10 mb-0">Tập đoàn Công nghiệp Viễn thông Quân đội Viettel</p>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="d-flex flex-column h-100">
          <div style="flex: 1 0 auto">

          </div>
         

        </div>

      </div>
    </div>
  </div>
</div> -->
