// import login css
//@import "../../../../assets/sass/pages/login/login-3.scss";

//kt-auth, #kt_login_wrapper {
//	height: 100%;
//
//	@media (min-width: 992px) {
//		.login.login-3 .login-form {
//			width: 100%;
//			max-width: 450px;
//		}
//	 }
//
//	.login-form {
//		width: 100%;
//		max-width: 450px;
//
//		.mat-form-field {
//			width: 100%;
//		}
//	 }
//}
//
//
//kt-auth, .login {
//	 height: 100%;
//
//	 .login-form {
//		width: 100%;
//		max-width: 450px;
//
//		.mat-form-field {
//			width: 100%;
//		}
//	 }
//
//
//	// add extra right padding when displaying spinner in button
// 	.spinner {
// 		padding-right: 3rem !important;
// 	}
//}
//
//kt-login, kt-register, kt-forgot-password {
//	-webkit-box-pack: center;
//    -ms-flex-pack: center;
//    justify-content: center;
//    -webkit-box-align: center;
//    -ms-flex-align: center;
//    align-items: center;
//	flex: 1 0 auto;
//	height: 100%;
//	display: flex !important;
//}
//
//.height-100 {
//	height: 100%;
//}


// .splash-screen {
//   background-color: #f2f3f8;
//   position: absolute;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   width: 100%;
//   z-index: 1000;
// }

// .bg-img {
//   background-image: url('~/assets/media/bg/bg-orange.png');
//   background-repeat: round;
//   background-repeat-x: no-repeat;
//   background-position-x: 105%;
// }

// .border {
//   border: 1px solid #70a3a5 !important;
// }

// .text-color-primary {
//   color: #00777F !important;
// }
